.container {
    position: relative;
    margin-top: -130rem;
    width:400rem;
    min-height:400rem;
    background:rgba(255,255,255,0.15);
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5rem);
    box-shadow: 0 25rem 45rem rgba(0, 0, 0, 0.137);
    border:1rem solid rgba(255,255,255,0.45);
    border-right:1rem solid rgba(255,255,255,0.2);
    border-bottom:1rem solid rgba(255,255,255,0.2);
}
.form{
    position: relative;
    width:100%;
    height:100%;
    padding:40rem;
}
.form h2{
    position: relative;
    margin:0;
    font-size: 25rem;
    font-weight:600;
    margin-bottom:40rem;
    padding-left: 15rem;
}
.form .inputBox{
    width:100%;
    margin-top:15rem; 
}
.form .inputBox input{
    width:100%;
    background: rgba(255,255,255,0.2);
    color:white;
    border:none;
    outline:none;
    padding:10rem 20rem;
    border-radius:25rem;
    border:1rem solid rgba(255,255,255,0.45);
    border-right:1rem solid rgba(255,255,255,0.2);
    border-bottom:1rem solid rgba(255,255,255,0.2);
    font-size:15rem;
    box-shadow: 0 5rem 15rem rgba(0, 0, 0, 0.05);
}
.form .inputBox input[type="submit"]{
    max-width:100rem;
    margin-top:15rem;
    cursor:pointer;
    font-weight: 600;
}
.signup{
    margin-top: 20rem;
    margin-left: 5rem;
}
.signup a{
    margin-left: 5rem;
    font-weight: 700;
    color:grey;
}
.signup a:hover{
    margin-left: 5rem;
    font-weight: 700;
    color:#7d4eff99;
}