body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
}
html{
  background-image: linear-gradient(to bottom, #000000, #00043B);
  background-repeat:no-repeat;
  font-size: 6.25%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-size: 30rem;
}
div{
  font-size: 20rem;
}
i{
  cursor: pointer;
}

@media (max-width:920px) {
  html{
    font-size: 2.25%;
  }
  button{
    font-size: 2.25%;
  }
}
@media (max-width:412px) {
  html{
    font-size: 1%;
  }
  button{
    font-size: 1%;
  }
}
